@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(56, 218, 240);
    min-height: 100vh
}
.container{
    background: white;
    border-radius: 20px;
    padding: 20px;
}
h1{
    font-family: 'Outfit','San-serif';
}